%h2 Changes
%ul
  - changes.each do |change|
    - time = change.scan(/\d{10}\./).first.to_s.gsub(/\D/, '')
    - path = safe_filename_to_path(revision_path_to_main_file_path(File.basename(change)))
    %dl
      %dt
        %a{:href => path}= path_to_title(path)
        = Time.at(time.to_i).strftime("%B %d at %I:%M %p")
      %dd= diff(change)

.next
  %a{:href => "?page=#{(params[:page] || 1).to_i + 1}"} [more]
