!!! 5
%html{html_attrs('en')}
%head
  %title WikiWiki
  %link(href="/style.css" media="screen" rel="stylesheet" type="text/css")
  %script(type="text/javascript")
    == var blueLinks = #{blue_links}
  %script(src="/app.js" type="text/javascript")


%body
  #container
    #header
      - if defined? path
      %h1= path_to_title path
      [
      %a(href="/") home
      ]
      [
      %a(href="/recent_changes") recent changes
      ]
      [
      %a{:href => show_path('/' + path)} show
      ]
      [
      %a{:href => edit_path(path)} edit
      ]
      [
      %a{:href => changes_path(path)} changes
      ]
    #content
      = yield
    #footer
  - analytics_partial = File.join(File.dirname(__FILE__), '_analytics.html')
  - if File.exist?(analytics_partial)
    = File.read analytics_partial

