- if defined? err
  %h2.error= err
%form.upload{ :method => 'post', :enctype => 'multipart/form-data' }
  %table.upload
    %tr
      %th{ :align => 'right' } From Local File:
      %td
        %input{ :id => "upload-file", :type=> "file", :name=> "file" }
    %tr
      %th{ :align => 'right' } Save File As:
      %td 
        %input{ :id => "upload-filename", :type => "text", :name=> "filename" }
    %tr
      %th{ :align => 'right' }
        %input{ :type => "submit", :value => "Upload" }
