- if defined? err
  %h2.error= err
%p
  Pick a file to upload from your local system.
%form.upload{ :method => 'post', :enctype => 'multipart/form-data' }
  %dl.upload{ :id => 'upload-form' }
    %dt
      From Local File:
    %dd
      %input{ :id => "upload-file", :type=> "file", :name=> "file" }
    %dt
      Save File As:
    %dd
      %input{ :id => "upload-filename", :type => "text", :name=> "filename" }
    %dt
      %input{ :type => "submit", :value => "Upload" }
    %dd
